

.filter{
    display: flex;
    align-items: center;
    justify-content: center;    
}
.filter li {
    display: inline;
    margin: 20px;
    padding: 10px;
    cursor: pointer;
    background-color: #eee;
}

.filter li:hover{
    background-color: aqua;
} 

.container {
    display: grid;
    grid-template-columns: auto;
    grid-gap: 20px;
    align-content: center;
    justify-content: center;
    min-height: 100vh;
    background: gray;
    
  }

.card{
    display: inline-block;
    position: relative;
    grid-gap: 20px;
    padding: 20px;
    max-width: 250px;
    max-height: 430px;
    background:#ffffff;
    justify-content: center;
}
.action{
    position: absolute;
    float: right;
    top: 4px;
    right: 20px; 
    padding: 0;
}

.action li {
    position: relative;
    list-style: none;
    background: white;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.action li:hover span{
    background: red;
    color: wheat;
}

.action li span {
    position: absolute;
    right: 20px;
    width: 70px;
    font-size: 10px;
    padding: 0;
    background: white;
}

.productImage {
    max-width: 250px;
    max-height: 300px;
}

.price-and-rating {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.price{
    color: red;
}

.rating {
    color: yellow;
}
