* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.filter{
    display: flex;
    align-items: center;
    justify-content: center;    
}
.filter li {
    display: inline;
    margin: 20px;
    padding: 10px;
    cursor: pointer;
    background-color: #eee;
}

.filter li:hover{
    background-color: aqua;
} 

.container {
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-gap: 100px;
    align-content: center;
    justify-content: center;
    background: gray;
    margin: 0;
  }

.card{
    margin: 20px;
    position: relative;
    width: 250px;
    height: 380px;
    margin: 10px;
    background:#ffffff;
    justify-content: center;
}
.action{
    position: absolute;
    float: right;
    top: 4px;
    right: 20px; 
    padding: 0;
}

.card .action li {
    position: relative;
    list-style: none;
    background: white;
    display: none;
    align-items: center;
    cursor: pointer;
    transform: translateX(20px);
    transition: transform 0.5s;
}

.card:hover .action li {
    display: flex;
}

.action li:hover span{
    background: red;
    color: wheat;
}

.action li span {
    display: none;
    position: absolute;
    right: 20px;
    width: 70px;
    font-size: 10px;
    padding: 0;
    background: white;
}

li:hover span {
    display: block;
}

.productImage {
    max-width: 250px;
    max-height: 300px;
}

.price-and-rating {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
}

.price{
    color: red;
}

.rating {
    color: yellow;
}

.product-name {
    padding: 10px;
}

.center {
    text-align: center;
}
.pagination {
    display: inline-block;
    background: #dcdcdc;
}

.pagination button {
    cursor: pointer;
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    border: 1px solid #ddd;
    margin: 0 4px;
}

.pagination button.active { 
    background-color: #03a9f4;
    color: white;
    border: 1px solid #03a9f4;
}

.pagination button:hover:not(.active) {
    background-color: #03a9f4;
    color: white;
  }